<html>
    <!-- Head tag -->
    <%- partial('_partial/head') %>
    <body class="<%- is_home() ? 'home' : '' %>">
        <!-- header -->
        <% if( !is_home() ){ %>
            <%- partial('_partial/header') %>
        <%}%>

        <!-- body -->
        <div class="main">
            <%- body %>
        </div>
        <!-- footer -->
        <%- partial('_partial/footer') %>
    </body>
</html>